doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body 
    input(type="text").class-name#anyId
    ul
      li.class-name hanan 
      li#anyId m7md

    -let cond = true;
    -let arr = [1,3,4]
    if cond 
    p it's true

    each value in arr 
      p=value
    block content
 
